.nav {
  background-color: var(--white-color);
  color: var(--primary-color);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3.5rem;
  box-shadow: 0 4px 8px rgba($color: #000, $alpha: 0.1);
  z-index: 500;
  .nav__left {
    .hamburger {
      display: none;
    }
    .nav__logo {
      padding: 0.5rem 0;
      img {
        width: 55px;
        height: 55px;
      }
    }
  }
  .nav__right {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0.5rem 1.1rem;
    .nav__left {
      .hamburger {
        display: block;
      }
      .nav__logo {
        display: none;
      }
    }
    .nav__right {
      gap: 1rem;
      font-size: 1.4rem;
    }
  }
}
